// grid variables
$grid-columns: 12;
$grid-max-width: 65em;
//** Color **
$primary-light: #EBB85D !default;
$secondary-dark: #3E3F40 !default;
$text-color: #FFF !default;


// breakpoints
$breakpoint-small: "(min-width: 767px)";
$breakpoint-medium: "(min-width: 992px)";
$breakpoint-large: "(min-width: 1200px)";

