@import "_variables";
@import "_mixins";

*{
  margin:0;
  padding: 0;
  @include border-box;
}
html,
body{
  font-family: 'Montserrat', sans-serif;
}

@for $i from 1 through 4 {
  .bg-img-#{$i}{
    background-image: url("assets/img/foto$i.png");
  }
}

.contenidoFlexibo{
  display: none;
}

hr{
  display: none;
}

.listarow > li{
    float: left;
}

.listarow > li{
  float: left;
}
.listLeft > li >a{
  position: relative;
  display: inline-block;
  padding: 10px 15px;
}

.navbar-default{
  background-color: transparent;
  border-color: transparent;
}

.navbarFlex{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  .navheaderFlex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
  }
}

.navbar-brand{
  height: 68px !important;
  .logoLab{
    width: 250px;
    .logoLab__img{
      width: 100%;
      height: 100%;
    }
  }
}
.description{
  display: none;
}



header
{
  height: 70px;
  background-color: $primary-light;
  color: $text-color;
  line-height: 70px;
}
.content-aside{
  padding: 10px;
  text-align: center;
  color: $text-color;
  background-color: $secondary-dark;
  margin-bottom: 10px;
  h2{
    font-size: 19px;
  }
  p{
    font-size: 14px;
  }
}

footer{
  color: $text-color;
  background-color: $secondary-dark;
  .center{
    text-align: center;
  }
}

/*
* Grid System
*/

.wrapper {
  width: 100%;
  margin: 0 auto;
  .item{
    padding: 5px;
    margin-bottom: 4px;
    color: $text-color;
    background-color: $secondary-dark;
  }
  .item-active{
    padding: 5px;
    margin-bottom: 4px;
    color: $text-color;
    background-color: $primary-light;
  }
}
table{
  width: 100%;
  @include box-shadow;
  th{
    background-color: gray;
  }
}

%clearfix
{
  *zoom: 1;
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.wrapper, .row {
  @extend %clearfix;
}

[class*='col-'] {
  float: left;
  padding: 1em;
  width: 100%;
  min-height: 1px;
}

@media #{$breakpoint-small} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-sm-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$breakpoint-medium} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-md-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
}

@media #{$breakpoint-large} {
  .wrapper {
    width: 95%;
    max-width: $grid-max-width;
  }
  @for $i from 1 through $grid-columns {
    .col-lg-#{$i} {
      width: 100% / $grid-columns * $i;
    }
  }
  .contenidoFlexibo{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
  }

  .description{
    padding-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 15px;
    .description__img{
      height: 16px;
      padding: 0 3px;
    }
  }

  .navheaderFlex{
    height: 127px;
  }

  .navbar-brand {
    height: 127px;
    .logoLab {
      height: 50px;
      width: 315px;
    }
  }
  .collapse{
    padding-top: 17px !important;
  }



}